Repository BF-FrontEnd-class-2024/group4-hyf-rebuild, pull requests merged in 2024-01, with the labels that each got.

#10 add general readme
  .cspell.json
  README.md
  planning/wireframe.png
Labels: md

#11 add-design-md
  imgs/wireframe.png
  planning/design.md
Labels: md

#12 add communication-file
  .cspell.json
  planning/communication.md
Labels: md

#13 add backlog homepage
  planning/backlog.md
Labels: md

#14 add-devstra-md
  .cspell.json
  planning/development-strategy.md
Labels: md

#17 add-home-header-html
  blog.html
  imgs/hyf-logo.webp
  index.html
  planning/design.md
  recruit.html
  volunteer.html
Labels: html

#22 update-home-header-html
  index.html
Labels: html

#23 add-what-is-html
  about.css
  about.html
Labels: html

#25 what-is-css
  about.css
  about.html
Labels: css

#27 What css update
  about.css
  about.html
Labels: css

#30 Mini sec 1 html
  about.html
  imgs/Network.png
  imgs/love.png
  imgs/passionate.png
  imgs/team.png
  imgs/together .png
Labels: html

#32 add-mini-sec-1-css
  about.css
  about.html
Labels: css

#34 add-mini-sec-2-html
  about.html
  imgs/amin2.png
  imgs/tent.png
Labels: html

#38 add-home-intro-html
  imgs/intro-bg.png
  index.html
Labels: html

#39 add-home-intro-css
  index.html
  styles/index.css
Labels: css

#42 add-home-showcase-html
  index.html
Labels: html

#43 add-home-showcase-css
  about.html
  styles/index.css
Labels: css

#46 add-home-showcase-info-html
  imgs/showcase-info-1.webp
  imgs/showcase-info-2.webp
  imgs/showcase-info-3.webp
  index.html
Labels: html

#47 add-home-showcase-info-css
  .cspell.json
  index.html
  styles/index.css
Labels: css

#50 add-home-showcase-partners-html
  imgs/partner-1.webp
  imgs/partner-10.webp
  imgs/partner-11.webp
  imgs/partner-12.webp
  imgs/partner-13.webp
  imgs/partner-14.webp
  imgs/partner-15.webp
  imgs/partner-16.webp
  imgs/partner-2.webp
  imgs/partner-3.webp
  imgs/partner-4.webp
  imgs/partner-5.webp
  imgs/partner-6.webp
  imgs/partner-7.webp
  imgs/partner-8.webp
  imgs/partner-9.webp
  index.html
Labels: html

#51 add-home-showcase-partners-css
  styles/index.css
Labels: css

#54 add-home-showcase-testimonials-html
  .cspell.json
  imgs/company-1.jpeg
  imgs/company-2.png
  imgs/company-3.png
  imgs/company-4.png
  imgs/person-1.jpeg
  imgs/person-2.png
  imgs/person-3.jpeg
  imgs/person-4.jpeg
  index.html
Labels: html

#55 add-home-showcase-testimonials-css
  .cspell.json
  imgs/rating@2x.png
  index.html
  styles/index.css
Labels: css

#58 add-home-subscribe-html
  index.html
Labels: html

#59 add-home-subscribe-css
  index.html
  styles/index.css
Labels: css

#62 add-home-joinopt-html
  index.html
Labels: html

#63 add-home-joinopt-css
  styles/index.css
Labels: css

#66 add-home-footer-html
  index.html
Labels: html

#67 add-home-footer-css
  .cspell.json
  index.html
  styles/index.css
Labels: css

#69 update-footer-html
  index.html
Labels: html

#70 add mini-sec-2-css
  .cspell.json
  about.css
  about.html
  imgs/las.png
  imgs/lu.png
  imgs/m.png
  imgs/pe.png
  imgs/u.png
Labels: css

#72 add-about-last-html
  .cspell.json
  .vscode/settings.json
  about.html
Labels: css

#74 add footer
  about.html
  index.html
Labels: html

#76 add foter
  about.css
  styles/index.css
Labels: css

#80 update-home-join-css
  styles/index.css
Labels: css

#81 add css-and-html
  .cspell.json
  imgs/Jonathan.webp
  imgs/anthony.webp
  imgs/code pad.webp
  imgs/comunication.webp
  imgs/eleni.webp
  imgs/imgvolunteer.png
  imgs/minde.webp
  imgs/wworled.webp
  index.html
  styles/volunteer.css
  volunteer.html
Labels: html, css

#83 add update readme
  README.md
  imgs/update.png
Labels: md

#85 add-mediaquery-small
  .cspell.json
  index.html
  styles/index.css
Labels: css
